<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fantasy Basketball Team</title>
</head>
<body>
  <h1>Fantasy Basketball Team</h1>

  <div>
    <input type="text" id="playerName" list="activePlayersList" placeholder="Enter Player Name">
    <datalist id="activePlayersList"></datalist>
    <button id="addPlayerButton">Add Player</button>
  </div>

  <h3>Your Team:</h3>
  <ul id="teamList"></ul>

  <script src="../static/app.js"></script>
</body>
</html>
